extends layout

block content
  h1= title
  p Welcome to #{title}
  
  div(class='container')
    div(class='query-block')
      label(for='fbuser') Facebook
      input(id='fbuser' type="text" name="facebook" class='socialApi')
      br
      label(for='ghuser') Github
      input(id='ghuser' type="text" name="github" class='socialApi')
      br
      label(for='twuser') Twitter
      input(id='twuser' type="text" name="twitter" class='socialApi')
      br
      label(for='gmuser') Google Map
      input(id='gmuser' type="text" name="googlemap" class='socialApi')
      br
      label(for='ywuser') Yahoo Weather
      input(id='ywuser' type="text" name="yahootemp" class='socialApi')
      br
      input(type="submit" value="Submit" class='sub')
      
    div(class='response-block')
      a(href='/') Home