extends layout

block content
  h1= title
  p Welcome to #{title}
  
  div(class='container')
  label(for='fbuser') Facebook
  input(id='fbuser' type="text" name="facebook" class='socialApi')
  br
  input(type="submit" value="Submit" class='sub')